.about {
  padding: 127px 0 100px;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about__content {}

.about__title {}

.about__text {
  max-width: 389px;
  line-height: 27px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(238, 238, 238, 0.75);
}