.nav {
  
}

.nav__inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 18px;
  transition: .3s;
}

.nav__link:hover {
  color: #00adb5;
  border-bottom: 2px solid #00adb5;
}